/*==== COLOR PALETTE ====
*Dark Text: #41546b
*Medium Text: #838c99
*Bright 1: #54b848
*Bright 2: #00918e
*Light Background: #e5eef5
*Lightest Background: #f9fbfc
*/
body{
	color:#41546b;
}
a{
	color:#54b848;
}
a:hover{
	color: #838c99;
}
mark{
	background:#ff0;
	color:#000;
}
pre{
	background:#f5f5f5;
	color:#666;
}
blockquote{
	padding: 30px;
	line-height: 175%;
	background-color: #F9FBFB;
	color: #231f20;
}
.comment-author a:hover, .comment-list .pingback a:hover, .comment-list .trackback a:hover, .comment-metadata a:hover{
	color:#41a62a;
}
.comment-reply-title small a:hover{
	color:#41a62a;
}
.page-home-wrap .main-menu > a,
.page-home-wrap .main-menu.open > a {
	background:gray url(images/ico-menu.png) no-repeat 18px 50%;
	color: #fff;
}
.page-home-wrap .main-menu.open > a:hover{
    background:#2f3f6e url(images/ico-menu.png) no-repeat 18px 50%;
}
.page-home-wrap .main-menu > a:hover {
	background-color: #838c99;
}
.page-home-wrap .main-menu ul{
	background: #838c99;
}
.page-home-wrap .main-menu ul a:hover {
    background: #2f3f6e;
}
#header{
	/*background: rgba(120, 134, 154);*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
}
#nav .active a{
	background: transparent;
}
#nav a:hover{
	background: transparent;
}
.nav-section{
	background: #00918e;
}
.nav-section .link-prev,
.nav-section .link-next{
	color: #fff;
	background: transparent;
}
.nav-section .link-prev:hover,
.nav-section .link-next:hover{
	color: #54b848;
	background: transparent;
}
#nav-aside a{
	background: #f9fbfc;
}
#nav-aside a:hover,
#nav-aside .active a{
	background: #e5eef5;
}
.aside-column .widget_text{
	color: #6b86af;
}
h2{
	color: #54b848;
}
.visual .dt h2 {
	background-color:#00918e;
	background-color:rgba(0, 145, 142, .85);
	max-width: 75%;
	margin: 0 auto;
	padding: 1.5em 2.9em;
	line-height: 1.7em;
	margin-top: 1em;
}
h3{
	color: #41546b;
}
h4{
	color: #54b848;
}
.data-row .title{
	color: #54b848;
}
.data-row .data{
	background: #f1f2f2;
	color: #41546b;
}
.data-row .data .num{
	color: #54b848;
}
.two-cols .col .num,
.three-cols .col .num{
	color: #383f66;
}
.data-boxes .data-box h5{
	color: #54b848;
}
.two-cols-info .title h3{
	color: #838c99;
}
h3.red{
	color: #838c99;
}
.image-caption figcaption{
	background: #54b848;
}
#footer{
	background: #e5eef5;
}
#footer .column:after{
	border-left: 1px solid white;
}
.btn-red{
	background: #f7aa27;
	border-top: 4px solid #f7d127;
	border-radius: 3px;
}
#footer .footer-bottom{
	background: #fff;
}
.team-list-widget .team-list .photo{
	border: 3px solid #00918e;
}
.team-list-widget .team-list h3{
	color: #838c99;
}
.team-columns .column h3{
	color: #838c99;
}
.three-ico-blocks .block .num{
	color: #54b848;
}
.three-ico-boxes .box h4{
	color: #54b848;
}
.two-ico-boxes .box.violet{
	background: #3b6160;
}
.two-ico-boxes .box.violet:hover{
	background: #728181;
}
.two-ico-boxes .box.red{
	background: #6893b4;
}
.two-ico-boxes .box.red:hover{
	background: #3d7097;
}
.top-tabs-holder{
	background: #383f66;
}
.top-tabs a:hover,
.top-tabs .active a{
	background: #838c99;
}
.f-data-item .container{
	border: 3px solid #383f66;
}
.f-data-item .container:before{
	border-left: 15px solid #383f66;
}
.f-grey-data .num{
	color: #54b848;
}
.filter-area .f-item .ico.board-member{
	background: #838c99;
}
.filter-area .f-item .ico.sponsor{
	background: #6b86af;
}
.filter-area .f-item .ico.donor{
	background: #383f66;
}
.filter-area .f-item .ico.program-funding{
	background: #2f3f6e;
}
.s-box.board-member{
	border-top: 15px solid #838c99;
}
.s-box.sponsor{
	border-top: 15px solid #6b86af;
}
.s-box.donor{
	border-top: 15px solid #383f66;
}
.s-box.program-funding{
	border-top: 15px solid #2f3f6e;
}
.s-box .web-link{
	color: #54b848;
}
.s-box h4 a{
	color: #383f66;
}
.s-btn-more .btn-red{
	background: #838c99;
}
.three-ico-cols .col h3{
	color: #838c99;
}
.three-ico-cols .col .num{
	color: #54b848;
}
.featured-image-block figcaption{
	background: #34406c;
}
.mark-text .num{
	color: #54b848;
}
.s-aside-quote{
	color: #6b86af;
}
.main-supporters h1{
	color: #54b848;
}